{% extends 'canteen/main.html' %}
{% block content %}
<div class="container">
    <h2 class="mt-4">Products in Category: {{ category_name }}</h2>
    <ul class="list-group mt-3">
        {% for product in products %}
            <li class="list-group-item">
                {{ product.1 }} - <strong>Rs {{ product.2 }}</strong>, {{ product.3 }}
            </li>
        {% endfor %}
    </ul>
</div>
<style>
    /* Custom CSS styles */
    .list-group-item {
        margin-top: 10px;
    }
</style>
{% endblock %}

