{% extends 'canteen/main.html' %}
{% block content %}
{% include 'canteen/status.html' %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Order Number</th>
                    <th>Order Status</th>
                    <th>Order Created on</th>
                </tr>

                {% for order in orders %}
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.status}}</td>
                    <td>{{order.date_created}}</td>  
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

{% endblock content %}
